body {
    margin: 0; display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: aliceblue;
}
.container {
    max-width: 1300px;
    margin: auto;
}

.header-logo {
    font-size: 3rem;
    font-weight: normal;
    justify-content: space-between;
}
.header-logo img {
    max-width: 50px;
    margin-right: 5px;
}