<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=yes, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Sorties{% endblock %}</title>
        {# le css #}
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    </head>
    <body>
        {# contenu du haut-de-page#}
        <header>
            <div class="container">
                <div class="header-top">
                    <h1 class="header-logo">
                       <a href="" title="Retour a l'accueil">
                           <img src="{{ asset('img/logo_sortir.png') }}" alt="Logo sortir.com">SORTIR.COM
                       </a>
                    </h1>
                </div>
            </div>
        </header>

        {# read and display all flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {# contenu du corps de page #}
        <main>
        {% block body %}{% endblock %}
        </main>

        {# contenu bas de page #}
        <footer>

        </footer>
    </body>
</html>
