<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=yes, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Sorties{% endblock %}</title>
        {# le css #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.b532f9c4.css') }}"/>
        {% endblock %}
    </head>
    <body>
        {# contenu du haut-de-page#}
        <header>
            {% include 'includes/header.html.twig' %}
        </header>
        {# read and display all flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {# contenu du corps de page #}
        <main>
        {% block body %}{% endblock %}
        </main>

        {# contenu bas de page #}
        <footer>
            {% include 'includes/footer.html.twig' %}
        </footer>
    </body>
</html>
